<div class="card">
  <div class="card__header">
    <h1 class="card__header__title">Charizard</h1>
    <p class="card__header__subtitle">120 HP</p>
  </div>
  <div class="card__body">
    <div class="card__body__illustration">
      <img src="../../assets/images/charizard.png" />
    </div>
  </div>
  <div class="card__footer">
    <div class="card__footer__prices-information">
      <p class="card__footer__prices-information__average-price">2078 $</p>
      <p class="card__footer__prices-information__updated-date">05/10/2024</p>
    </div>
  </div>
</div>
